* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #E7F1F1;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

h1 {
  font-size: 85px;
  font-weight: 800;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

figcaption{
  text-align: center;
  margin-top: 8px;
  font-size: 20px;
}

.color-box {
  margin: 7px;
  position: relative;
  width: 150px;
  height: 150px;
}

.color-box-figure {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 4px solid #000000;
}

.lock-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.unlocked-icon {
  background-image: url('./assets/unlocked.png');
}

.locked-icon {
  background-image: url('./assets/locked.png');
}

.color-button {
  width: 275px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  border-radius: 0px 50px 0px 50px;
  margin-top: 30px;
  cursor: pointer;
}

.color-button-container {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 75px;
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .color-box {
    width: 125px;
    height: 125px;
  }
  .color-button {
    width: 250px;
    height: 40px;
    font-size: 20px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .color-box {
    width: 100px;
    height: 100px;
  }
  .color-button {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
}
